body {
    margin-top: 10px;
    margin-left: 30px;
    border: solid;
    border-width: 10px;
    border-color: #93d6b1
}
.wild {
    padding: 0 2em;
    font-size: 25px;
    font-weight: bold;
}
header {
    background-image: url("../images/mountains.jpg");
    background-size: auto;
    margin: 1em;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li {
    margin-right: 1rem;
}
header nav ul li a:hover{
    color: red;
}
#natural {
    text-align: center;
    font-size: 2em;
    -webkit-text-fill-color: darkslategrey;
}
main section {
    display: flex;
    background-color: rgb(234, 255, 155);
    border-color: seagreen;
}
#leopard {
    margin-left: 7em;
}
article {
    width: 50%;
    padding: 0 1rem;
    
    
}
article img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: 4em;
}

