body {
    
    font-size: 100%;
    padding: 1rem;
    margin: 1rem;
    border: solid;
    border-color: #93d6b1
}
.wild {
    padding: 0 2em;
    font-size: 25px;
    font-weight: bold;
}
header {
    background-image: url("../images/mountains.jpg");
    background-size: auto;
    margin: 1em;
}
header nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
header nav ul li {
    margin-right: 4rem;
    font-size: 20px;
}
header nav ul li a:hover{
    color: red;
}
#natural {
    text-align: center;
    font-size: 2em;
    -webkit-text-fill-color: darkslategrey;
}
.content {
   /*display: flex;*/
    background-color: rgb(234, 255, 155);
    border-color: seagreen;
}
aside {
    background-color: lightcoral;
}
#leopard {
    margin: 0 17rem;
}
article {
    align-content: center;
    width: 80%;
    padding: 0 auto;
    margin: 0 1rem;
}
article img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: 4em;
}
@media(min-width: 400px){
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header nav ul li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    main {
        flex: 4;
    }
    aside {
        flex: 2;
    }
    
}


